* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;

}

.product {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    background-color: rgba(209, 209, 209, 0.486);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}